@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Lato:wght@300&family=Poppins&family=Roboto:wght@500&family=Space+Grotesk&family=Ubuntu:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  font-size: 1.2rem;
  background-color: white;
}

.nav {
  background-color: rgb(66, 122, 161);
  height: 100px;
  color: black;
  font-weight: bolder;
  text-align: center;
}
.main {
  width: 70vw;
  border: 1px solid black;
  margin: 0px 80px 30px 180px;
}
.main-container {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  margin: 0;
}
.main ul {
  list-style: none;
}

button {
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}
.button:hover {
  transform: scale(0.97);
}
.items {
  margin: 20px;
}
.list {
  border: 1px solid black;
  padding: 10px;
}
form {
  margin-left: 30px;
  padding: 10px;
}
.main h2 {
  margin: 20px 0 20px 40px;
}
.bottom {
  border-bottom: 0;
}
